{% extends 'base.html' %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/qrcodegenerator.css') }}">
{% endblock %}
{% block title %}QR-CODE Generator{% endblock %}

{% block content %}
    <div class="main-container">
        <div class="title-box">
            <h3 class="qr-title">
                Generate QR-code
                <span class="highlight-text">fast and easy</span>
            </h3>
        </div>
        <textarea class="qr-text-input" id="message" name="message" rows="10" cols="50"></textarea>
        <button id="generate-qr" class="generate-btn">Generate</button>

    <div class="qr-image-container">

    </div>
    </div>
    <script src="{{ url_for('static', filename='js/qrcodegenerator.js') }}"></script>
{% endblock %}